<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-top-bar"><a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></a>
            <div class="barraBusqueda"><input type="text" id="barraBusq" placeholder="Buscá lo que necesites"><i class="fas fa-search"></i></div>
            <h3 class="header-title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito!</h3>
        </div>
        <nav>
            <ul class="nav-left">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#tiendas-ofi">Tiendas oficiales</a></li>
                <li><a href="#vender">Vender</a></li>
                <li><a href="#ayuda">Ayuda</a></li>
            </ul><ul class="nav-right">
                <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/my-shop">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>            
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <div class="banner-cont"><img src="/images/img-home-banner.jpg" alt="Banner principal" id="main-banner"></div>
    <main class="home-main">
        
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <div class="box-img-art"><img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="img-art">
                    <div class="caja-compra"><i class="fas fa-truck camion"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="desc"><b>Cafetera Moulinex</b></p>
                    </div>
                </div>

            </article>
            <article>
                <div class="box-img-art"><img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="img-art">
                    <div class="caja-compra"><i class="fas fa-truck camion"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="desc"><b>MacBook Pro 2019</b></p>
                    </div>
                </div>

            </article>
            <article>
                <div class="box-img-art"><img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="img-art">
                    <div class="caja-compra"><i class="fas fa-truck camion"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="desc"><b>Samsung Galaxy S10</b></p>
                    </div>
                </div>

            </article>
            <article>
                <div class="box-img-art"><img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" class="img-art">
                    <div class="caja-compra"><i class="fas fa-truck camion"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="desc"><b>SmartTv Samsung 43"</b></p>
                    </div>
                </div>

            </article>

        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <div class="box-img-art"><img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="img-art">
                    <div class="caja-compra"><i class="fas fa-truck camion"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="desc"><b>Cafetera Moulinex</b></p>
                    </div>
                </div>

            </article>
            <article>
                <div class="box-img-art"><img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="img-art">
                    <div class="caja-compra"><i class="fas fa-truck camion"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="desc"><b>MacBook Pro 2019</b></p>
                    </div>
                </div>

            </article>
            <article>
                <div class="box-img-art"><img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="img-art">
                    <div class="caja-compra"><i class="fas fa-truck camion"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="desc"><b>Samsung Galaxy S10</p></b>
                    </div>
                </div>

            </article>
            <article>
                <div class="box-img-art"><img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" class="img-art">
                <div class="caja-compra"><i class="fas fa-truck camion"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="desc"><b>SmartTv Samsung 43"</p></b>
                </div></div>
            </article>
        </section>
    </main>
    <footer>
        <ul type="none">
            <li><i class="fas fa-credit-card footer-img"></i><br>
                <p><b>Pagá con tarjeta o en efectivo</b><br>
                    Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li><i class="fas fa-gift footer-img"></i><br>
                <p><b>Envío gratis desde $ 2.500</b><br>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li><i class="fas fa-user-shield footer-img"></i><br>
                <p><b>Seguridad, de principio a fin</b><br>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </li>
        </ul>
        <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
    </footer>
</body>

</html>