<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/prodForm.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-top-bar"><a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></a>
            <div class="barraBusqueda"><input type="text" id="barraBusq"><i class="fas fa-search"></i></div>
            <h3 class="header-title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito!
            </h3>
        </div>
        <nav>
            <ul class="nav-left">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#tiendas-ofi">Tiendas oficiales</a></li>
                <li><a href="#vender">Vender</a></li>
                <li><a href="#ayuda">Ayuda</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/my-shop">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>

    <main class="reg-main">
        <div class="reg-form">
            <form action="" method="post">
                <label for="nombre">Nombre:</label><input type="text" name="nombre" placeholder="Nombre y apellido">
                <label for="username">Usuario:</label><input type="text" name="username"
                    placeholder="Nombre de usuario">
                <label for="mail">Dirección e-mail:</label><input type="email" name="mail"
                    placeholder="Dirección de mail">
                <label for="fNac">Fecha de nacimiento:</label><input type="date" name="fNac"
                    placeholder="Fecha de nacimiento">
                <label for="dom">Domicilio</label><input type="text" name="dom" placeholder="Domicilio">
                <div class="for-Perfil"><label for="tipoPerfil">
                        <h2>Perfil del usuario</h2>
                    </label><br>
                    <input type="radio" name="tipoPerfil" value="Comprador"><span>Comprador</span><br>
                    <input type="radio" name="tipoPerfil" value="Vendedor"><span>Vendedor</span>
                </div>
                <div class="for-intereses"><label for="intereses" class="label-for-intereses">
                        <h2>Intereses</h2>
                    </label><br>
                    <div><input type="checkbox" name="intereses1" value="electro"><label for="intereses1">Electro</label></div>
                    <div><input type="checkbox" name="intereses2" value="moda"><label for="intereses1">Moda</label></div>
                    <div><input type="checkbox" name="intereses3" value="hogar"><label for="intereses1">Hogar</label></div>
                    <div><input type="checkbox" name="intereses4" value="juguetería"><label
                        for="intereses1">Juguetería</label></div>
                        <div><input type="checkbox" name="intereses5" value="vida sana"><label for="intereses1">Vida sana</label></div>
                </div>
                <label for="foto">Sacate una foto para tu perfil</label><input type="file" name="foto" id="">
                <label for="wordpass">Contraseña:</label><input type="password" name="wordpass" id=""
                    placeholder="Ingresa tu contraseña">
                <label for="wordpass2">Repite la contraseña:</label><input type="password" name="wordpass2" id=""
                    placeholder="Repite tu contraseña">
                <br><button type="reset">Regresar</button><br><button type="submit">Enviar</button>


            </form>
        </div>
    </main>

</body>

</html>