:root {
    --bg-nav: #EAC926;
    --zz: #03264C;
    --icon-clr: #1259c3;
    --bg-apagado: #666;
    --grey: #ebebeb;
    --truck-green: #39b54a;
    --link-dark:#222222;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.prod-main {
    background-color: #ebebeb;
    justify-content: center;
    width: 100%;
    margin: auto;
    
}

.log-main {
    background-color:#ebebeb;
    justify-content: center;
    
    margin:auto;
    display: flex;
    align-items: center;
}

.log-main > form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

#prodForm {
    display:block;
    text-align: center;
}

button {
    appearance: none;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 3px;
    font-weight: 500;
    margin:8px 12px;
    background-color: var(--icon-clr);
}

#ret-btn {
    width: 30%;
    
}

#ret-btn:hover {
    background-color: #0022AA;
    transition: all 0.8s;
}

label {
    display:inline-block;
    margin: 8px 0;
    
}

.reg-main {
    margin: auto;
    background-color:#ebebeb;
    justify-content: center;
    
    
    display: flex;
    align-items: center;
}

.reg-form {
    width: 50%;
    background-color: #c4c4c4;
    border-radius: 5%;
    margin: 20px 0;
    justify-content: center;
    display: flex;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.reg-form > form {
    display:flex;
    flex-direction: column;
    width: 80%;
}

input {
    
    border-width: 1px;
    border-radius: 5px;
    padding: 3px 0;
}

input:focus {
    outline:none;
    border-style:solid;
    border-width: 3px;
    padding:1px;
    border-color: var(--icon-clr)
}